{% include 'comware/base.j2' %}
{% if vlans %}
{% for vlan in vlans %}
vlan {{ vlan.vid }}
 name {{ vlan.name }}
#
{% endfor %}
{% endif %}
{% for iface in interfaces %}
{% if iface.name != mgmt_iface %}
{% if iface.name is vlan_iface and iface.ip_address %}
interface {{ iface.name | comware_iface }}
{% if iface.description %}
 description {{ iface.description }}
{% endif %}
{% if iface.vrf %}
 ip binding vpn-instance {{ iface.vrf }}
{% endif %}
 ip address {{ iface.ip_address | cidr_to_mask }}
 undo shutdown
#
{% elif iface.mode %}
interface {{ iface.name }}
{% if iface.description %}
 description {{ iface.description }}
{% endif %}
{% if iface.mode == 'access' %}
 port link-type access
{% if iface.untagged_vlan %}
 port access vlan {{ iface.untagged_vlan }}
{% endif %}
{% elif iface.mode == 'tagged' %}
 port link-type trunk
 undo port trunk permit vlan 1
 port trunk permit vlan {{ iface.tagged_vlans | join(' ') }}
{% elif iface.mode == 'tagged-all' %}
 port link-type trunk
 port trunk permit vlan all
{% endif %}
{% if iface.mtu %}
 jumboframe enable {{ iface.mtu }}
{% endif %}
{% if iface.enabled %}
 undo shutdown
{% else %}
 shutdown
{% endif %}
#
{% endif %}
{% endif %}
{% endfor %}
return
