{% include 'eos/base.j2' %}
{% if vlans %}
! === VLANs ===
{% for vlan in vlans %}
vlan {{ vlan.vid }}
   name {{ vlan.name }}
{% endfor %}
!
{% endif %}
{% if vrfs %}
! === VRFs ===
{% for vrf in vrfs %}
vrf instance {{ vrf.name }}
!
ip routing vrf {{ vrf.name }}
!
{% endfor %}
{% endif %}
! === Interfaces ===
{% for iface in interfaces %}
interface {{ iface.name }}
{% if iface.description %}
   description {{ iface.description }}
{% endif %}
{% if iface.name | lower is match('vlan.*') %}
{% if iface.vrf %}
   vrf {{ iface.vrf }}
{% endif %}
{% if iface.ip_address %}
   ip address virtual {{ iface.ip_address }}
{% endif %}
{% else %}
{% if iface.mode == 'access' %}
   switchport mode access
{% if iface.untagged_vlan %}
   switchport access vlan {{ iface.untagged_vlan }}
{% endif %}
{% elif iface.mode == 'tagged' %}
   switchport mode trunk
{% if iface.tagged_vlans %}
   switchport trunk allowed vlan {{ iface.tagged_vlans | join(',') }}
{% endif %}
{% elif iface.mode == 'tagged-all' %}
   switchport mode trunk
{% endif %}
{% if iface.mtu %}
   mtu {{ iface.mtu }}
{% endif %}
{% endif %}
   {{ 'no shutdown' if iface.enabled else 'shutdown' }}
!
{% endfor %}
end
