NETBOX_URL=http://192.168.1.x:8000
NETBOX_TOKEN=your_token_here

# Адрес этого ZTP сервера (коммутатор будет сюда обращаться)
ZTP_SERVER_URL=http://192.168.1.200

# Credentials для SSH и eAPI на коммутаторах (задаются при ZTP)
ADMIN_PASSWORD=123456
SWITCH_USER=admin
SWITCH_PASSWORD=123456
